@model IEnumerable<Presentation.Models.ViewModels.Admin.AdminListFlightsViewModel>

@{
    ViewData["Title"] = "AdminListFlights";
}

<h1>AdminListFlights</h1>

<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTo)
            </td>
            <td>
                
        </tr>
}
    </tbody>
</table>
