@model Presentation.Models.ViewModels.Ticket.BookTicketViewModel

@{
    ViewData["Title"] = "BookTicket";
}

<h1>BookTicket</h1>

<h4>BookTicketViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookTicket" enctype="multipart/form-data" id="myForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                

            @*this is used to use button as an input *@
            <div class="form-group" style="width: 100vw;">
                    @for (int col = 0; col < Model.maxColLength; col++)
                    {
                        @for (int row = 0; row < Model.maxRowLength; row++)
                        {
                            var seatIndex = col * Model.maxRowLength + row;
                             var seat = Model.seatingList[seatIndex];

                             @if(seat.isTaken == false)
                            {
                                <button class="grid-button" data-seat-taken="@seat.isTaken" data-seat-id="@seat.Id" data-row="@row" data-col="@col">
                                    <img src="/images/seat.png" style="width:30px;height:30px;"/>
                            </button>
                            }else
                            {
                            <button  disabled class="grid-button" data-seat-taken="@seat.isTaken" data-seat-id="@seat.Id" data-row="@row" data-col="@col">
                                    <img src="/images/seat_is_taken.jpg" style="width:30px;height:30px;" />
                                </button>
                            }

                }
                        <br />
                    }
                </div>
                <div class="form-group" hidden>
                    <label asp-for="SeatFk" class="control-label"></label>
                    <input asp-for="SeatFk" class="form-control" id="seatIdInput" readonly />
                
                </div>




                <div class="form-group" hidden>
                    <label asp-for="chosenFlight" class="control-label"></label>
                    <input asp-for="chosenFlight" class="form-control" readonly />
                    <span asp-validation-for="chosenFlight" class="text-danger"></span>
                </div>


                <div class="form-group">
                <label asp-for="PassportImage" class="control-label"></label>
                    <input asp-for="PassportImage" class="form-control" />
                    <span asp-validation-for="PassportImage" class="text-danger"></span>
                </div>

                    @if (User.Identity.IsAuthenticated == true)
                    {
                    <div class="form-group">
                    <label asp-for="Owner" class="control-label"></label>
                    <input value="@User.Identity.Name" asp-for="Owner" class="form-control" readonly />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                </div>
                    }else
                    {
                        <div class="form-group">
                            <label asp-for="Owner" class="control-label"></label>
                            <input value="" asp-for="Owner" class="form-control" />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                         </div>
                    }

                    <br/>
                
                <div class="form-group">
                
                    <label asp-for="PricePaid" class="control-label"></label>
                    <input asp-for="PricePaid" class="form-control" hidden readonly/>
                    <br/>
                    <span asp-validation-for="PricePaid" class="text-danger">@Model.PricePaid</span>
                </div>

            <br />
            
        
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Return to list","ListFlights", "Flight")
</div>

<script>
    $(document).ready(function () {
        var lastClickedButton = null;

        $('.grid-button').click(function (event) {
            event.preventDefault();

            var seatId = $(this).data('seat-id');
            $('#seatIdInput').val(seatId);

            // Reset the image of the previously clicked button
            if (lastClickedButton !== null) {
                if ($(this).data("seat.isTaken") == true) {
                    lastClickedButton.find('img').attr('src', '/images/seat_is_taken.jpg');
                    
                } else if ($(this).data("seat.isTaken") == false) {
                    lastClickedButton.find('img').attr('src', '/images/seat.png');
                }
                else{
                    lastClickedButton.find('img').attr('src', '/images/seat.png');
                }
                
            }

            // Change the image source on the current button click
            $(this).find('img').attr('src', '/images/taken_seat.jpg');

            // Update the last clicked button reference
            lastClickedButton = $(this);
        });
    });
</script>
