@model IEnumerable<Presentation.Models.ViewModels.Ticket.ListTicketViewModel>

@{
    ViewData["Title"] = "ListTickets";
}

<h1>ListTickets</h1>


<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.SeatFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td >
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td >
                @Html.DisplayFor(modelItem => item.SeatFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelled)
            </td>
            <td>
                @Html.ActionLink("Cancel ticket", "cancelTicket", new { chosenTicketId=item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteTicket", new { Id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
