@model Presentation.Models.ViewModels.Flight.ListFlightsViewModel

@{
    ViewData["Title"] = "FlightDetails";
}

<h1>FlightDetails</h1>

<div>
    <h4>ListFlightsViewModel</h4>
    <hr />
    <dl class="row" style="width: 5;">
        <div class="form-group" style="width: 100vw;">
            @{int seatIndex = 0;}
            @for (int col = 0; col < Model.Columns; col++)
            {
                @for (int row = 0; row < Model.Rows; row++)
                {
                    
                    var seat = Model.seatingList[seatIndex];

                    @if (seat.isTaken == false)
                    {
                       
                            <img data-seat-taken="@seat.isTaken" src="/images/seat.png" style="width:30px;height:30px;" />
                       
                    }
                    else
                    {
                        
                            <img data-seat-taken="@seat.isTaken" src="/images/seat_is_taken.jpg" style="width:30px;height:30px;" />
                        
                    }
                    seatIndex++;

                }
                <br />
            }
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholesalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholesalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommissionRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommissionRate)
        </dd>
    </dl>
</div>
<div>

    @Html.ActionLink("Edit", "Flight", "ListFlights")
</div>


<script>
    $(document).ready(function () {
        var lastClickedButton = null;

        $('.grid-button').click(function (event) {
            event.preventDefault();

            var seatId = $(this).data('seat-id');
            $('#seatIdInput').val(seatId);

            // Reset the image of the previously clicked button
            if (lastClickedButton !== null) {
                if ($(this).data("seat.isTaken") == true) {
                    lastClickedButton.find('img').attr('src', '/images/seat_is_taken.jpg');

                } else if ($(this).data("seat.isTaken") == false) {
                    lastClickedButton.find('img').attr('src', '/images/seat.png');
                }
                else {
                    lastClickedButton.find('img').attr('src', '/images/seat.png');
                }

            }

            // Change the image source on the current button click
            $(this).find('img').attr('src', '/images/taken_seat.jpg');

            // Update the last clicked button reference
            lastClickedButton = $(this);
        });
    });
</script>